body {
  /* background-color: #362d74; */
}

.content {
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 960px;
  margin: 0 auto;
}

.character-tables {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  margin-bottom: 15px;
}

.meals {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.faction-banner {
  width: 24px;
  margin-right: 8px;
}

h3 {
  display: flex;
  align-items: center;
  font-size: 14px;
}
